<%= form_with(model: injury_report) do |form| %>
  <% if injury_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(injury_report.errors.count, "error") %> prohibited this injury_report from being saved:</h2>

      <ul>
        <% injury_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.collection_select :pet_id, Pet.all, :id, :name, { prompt: "Select a pet" } %>
  </div>

  <div>
    <%= form.label :injury_id, style: "display: block" %>
    <%= form.collection_select :injury_id, Injury.all, :id, :description, { prompt: "Select an injury" } %>
  </div>

  <div>
    <%= form.label :body_part, style: "display: block" %>
    <%= form.text_field :body_part %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
