<div id="<%= dom_id injury_report %>">
  <p>
    <strong>Pet:</strong>
    <%= injury_report.pet_id %>
  </p>

  <p>
    <strong>Injury:</strong>
    <%= injury_report.injury_id %>
  </p>

  <p>
    <strong>Body part:</strong>
    <%= injury_report.body_part %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= injury_report.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= injury_report.date %>
  </p>

</div>
