<p style="color: green"><%= notice %></p>

<%= render @injury_report %>

<div>
  <%= link_to "Edit this injury report", edit_injury_report_path(@injury_report) %> |
  <%= link_to "Back to injury reports", injury_reports_path %>

  <%= button_to "Destroy this injury report", @injury_report, method: :delete %>
</div>
