<div id="<%= dom_id pet_food %>">
  <p>
    <strong>Pet:</strong>
    <%= pet_food.pet.name %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= pet_food.food.name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= pet_food.started_at %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= pet_food.frequency.how_often %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= pet_food.notes %>
  </p>

</div>
