<div id="<%= dom_id pet %>">
  <p>
    <strong>Pet type:</strong>
    <%= pet.pet_type %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= pet.picture %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= pet.birthday %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= pet.nickname %>
  </p>

  <p>
    <strong>Date admitted:</strong>
    <%= pet.date_admitted %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= pet.notes %>
  </p>

</div>
