<%= form_with(model: vaccination_schedule) do |form| %>
  <% if vaccination_schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vaccination_schedule.errors.count, "error") %> prohibited this vaccination_schedule from being saved:</h2>

      <ul>
        <% vaccination_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.collection_select :pet_id, Pet.all, :id, :name, { prompt: "Select a pet" } %>
  </div>

  <div>
    <%= form.label :vaccine_id, style: "display: block" %>
    <%= form.collection_select :vaccine_id, Vaccine.all, :id, :name, { prompt: "Select a vaccine" } %>
  </div>

  <div>
    <%= form.label :frequency_id, style: "display: block" %>
    <%= form.collection_select :frequency_id, Frequency.all, :id, :how_often, { prompt: "Select a frequency" } %>
  </div>

  <div>
    <%= form.label :date_given, style: "display: block" %>
    <%= form.date_field :date_given %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
