<div id="<%= dom_id vaccination_schedule %>">
  <p>
    <strong>Pet:</strong>
    <%= vaccination_schedule.pet.name %>
  </p>

  <p>
    <strong>Vaccine:</strong>
    <%= vaccination_schedule.vaccine.name %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= vaccination_schedule.frequency.how_often %>
  </p>

  <p>
    <strong>Date given:</strong>
    <%= vaccination_schedule.date_given %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= vaccination_schedule.notes %>
  </p>

</div>
