<div id="<%= dom_id medication %>">
  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= medication.amount %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= medication.purpose %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= medication.expiration_date %>
  </p>

</div>
