<p style="color: green"><%= notice %></p>

<%= render @frequency %>

<div>
  <%= link_to "Edit this frequency", edit_frequency_path(@frequency) %> |
  <%= link_to "Back to frequencies", frequencies_path %>

  <%= button_to "Destroy this frequency", @frequency, method: :delete %>
</div>
