<%= form_with(model: medication_schedule) do |form| %>
  <% if medication_schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medication_schedule.errors.count, "error") %> prohibited this medication_schedule from being saved:</h2>

      <ul>
        <% medication_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.collection_select :pet_id, Pet.all, :id, :name, { prompt: "Select a pet" } %>
  </div>

  <div>
    <%= form.label :medication_id, style: "display: block" %>
    <%= form.collection_select :medication_id, Medication.all, :id, :name, { prompt: "Select a medication" } %>
  </div>

  <div>
    <%= form.label :frequency_id, style: "display: block" %>
    <%= form.collection_select :frequency_id, Frequency.all, :id, :how_often, { prompt: "Select a frequency" } %>
  </div>

  <div>
    <%= form.label :date_started, style: "display: block" %>
    <%= form.date_field :date_started %>
  </div>

  <div>
    <%= form.label :date_ended, style: "display: block" %>
    <%= form.date_field :date_ended %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
