<div id="<%= dom_id medication_schedule %>">
  <p>
    <strong>Pet:</strong>
    <%= medication_schedule.pet.name %>
  </p>

  <p>
    <strong>Medication:</strong>
    <%= medication_schedule.medication.name %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= medication_schedule.frequency.how_often %>
  </p>

  <p>
    <strong>Date started:</strong>
    <%= medication_schedule.date_started %>
  </p>

  <p>
    <strong>Date ended:</strong>
    <%= medication_schedule.date_ended %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= medication_schedule.notes %>
  </p>

</div>
