<div id="<%= dom_id food %>">
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Food type:</strong>
    <%= food.food_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= food.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food.description %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= food.purpose %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= food.notes %>
  </p>

</div>
