<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :food_type, style: "display: block" %>
    <%= form.text_field :food_type %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :purpose, style: "display: block" %>
    <%= form.text_field :purpose %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
