<%= form_with(model: checks_schedule) do |form| %>
  <% if checks_schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checks_schedule.errors.count, "error") %> prohibited this checks_schedule from being saved:</h2>

      <ul>
        <% checks_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.collection_select :pet_id, Pet.all, :id, :name, { prompt: "Select a pet" } %>
  </div>

  <div>
    <%= form.label :check_id, style: "display: block" %>
    <%= form.collection_select :check_id, Check.all, :id, :check_type, { prompt: "Select a check" } %>
  </div>

  <div>
    <%= form.label :date_created, style: "display: block" %>
    <%= form.date_field :date_created %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.label :performed, style: "display: block" %>
    <%= form.checkbox :performed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
